<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.mapper.StudentMapper">
	<select id="selectStudentById" parameterType="int" resultMap="studentResultMap">
		select * from tb_clazz c,tb_student s where c.id=s.clazz_id and s.id=#{id}
	</select>
	
	<select id="selectStudentByClazzId" parameterType="int" resultMap="studentResultMap">
		select * from tb_student where clazz_id =#{id}
	</select>
	<!-- 映射person对象的resultMap -->
	<resultMap type="com.main.bean.Student" id="studentResultMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="sex" column="sex"/>
		<result property="age" column="age"/>
		<!-- 多对一关联映射：association,将用column的card_id作为select的查询参数 -->
		<association property="clazz" javaType="com.main.bean.Clazz">
			<id property="id" column="id"/>
			<result property="name" column="name"/>
			<result property="code" column="code"/>
		</association>
	</resultMap>
</mapper>