<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.UserMapper">

	<insert id="save" parameterType="user" useGeneratedKeys="true">
		INSERT INTO TB_USER(name,sex,age) values(#{name},#{sex},#{age})
	</insert>
	
	<select id="selectUser" parameterType="int" resultType="user">
		SELECT * FROM TB_USER WHERE id=#{id}
	</select>
	
	<select id="selectAll" resultType="map">
		SELECT * FROM TB_USER
	</select>
	
	<resultMap type="user" id="userResultMap">
		<id property="id" column="user_id"/>
		<result property="name" column="user_name"/>
		<result property="sex" column="user_sex"/>
		<result property="age" column="user_age"/>
	</resultMap>
	<select id="selectUser2" resultMap="userResultMap">
		SELECT * FROM TB_USER2
	</select>
	
	<update id="modifyUser" parameterType="user" >
		UPDATE TB_USER SET name=#{name},sex=#{sex},age=#{age} WHERE id=#{id}
	</update>
	
	<delete id="removeUser" parameterType="int" >
		DELETE FROM TB_USER WHERE id=#{id}
	</delete>
</mapper>